# List Examples

In [1]:
cars = ['Jeep', 'F350', 'Ram']

print(cars)

['Jeep', 'F350', 'Ram']

In [2]:
# Retrieve a specific list element

print(cars[1])

F350

In [3]:
# Select a range within my list

print(cars[0:3])

['Jeep', 'F350', 'Ram']

In [4]:
# Add values to a list

cars[1] = 'Motorcycle'

print(cars)

['Jeep', 'Motorcycle', 'Ram']

# List Operations

In [5]:
cars = ['Jeep', 'F350', 'Ram', 11]

lookingFor = 'jeep'

# 'f' represents a formatted strings

if lookingFor in cars:
    print(f"{lookingFor} is in the list {cars}")

else:
    print(f"I did not find {lookingFor}.")

I did not find jeep.

In [6]:
lookingFor = input("What car are you looking for?")

# Search and return the Index location

if lookingFor in cars:
    index_location = cars.index(lookingFor)
    print(f"{lookingFor} is in the list at index {index_location}")
else:
    print(f"I did not find {lookingFor} in the list")

I did not find  in the list

In [7]:
# Process to ignore case sensitivity

cars = ['Jeep', 'F350', 'Ram']
lookingFor = input("What car are you looking for?")

# Convert the input and the list items to lower case
lowerCars = [car.lower() for car in cars]
lower_lookingFor = lookingFor.lower()

if lower_lookingFor in lowerCars:
    index_location = lowerCars.index(lower_lookingFor)
    print(f"{lookingFor} is in the list at index {index_location}")
else:
    print(f"I did not find {lookingFor} in the list")

print(cars)
print(lowerCars)

I did not find  in the list
['Jeep', 'F350', 'Ram']
['jeep', 'f350', 'ram']

In [8]:
# Return the length of a list

s = [1, 2, 3, 4, 5]

cars = ['Jeep', 'F350', 'Ram', [1, 2, 3, 4, 5]]

print(len(cars))
print(cars[3][2])

4
3

In [9]:
# If a list is all numeric values we can use methods to sum those values

print(sum(s))

15

# List Methods

In [10]:
cars = ['Jeep', 'F350', 'Ram']

cars.append('Motorcycle')

print(cars)

['Jeep', 'F350', 'Ram', 'Motorcycle']

In [11]:
# Combining information in two lists into one list

list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [12]:
# Insert values at a specific index

cars = ['Jeep', 'F350', 'Ram']
cars.insert(1, 'Motorcycle')
print(cars)

['Jeep', 'Motorcycle', 'F350', 'Ram']

# 2D List Examples

In [13]:
matrix = [
    ['Buell', 'G650', 'K120GT'],
    ['S10', 'Ram', 'F350'],
    ['Rubicon', 'CJ5']
]

print(matrix)

[['Buell', 'G650', 'K120GT'], ['S10', 'Ram', 'F350'], ['Rubicon', 'CJ5']]

In [14]:
motorcycles = ['Buell', 'G650', 'K120GT']
trucks = ['S10', 'Ram', 'F350']
jeeps = ['Rubicon', 'CJ5']


vehicles = [motorcycles, trucks, jeeps]

print(vehicles)

[['Buell', 'G650', 'K120GT'], ['S10', 'Ram', 'F350'], ['Rubicon', 'CJ5']]

# 3D List

In [15]:
cube = [
    [
        [1, 2, 3],
        [4, 5, 6]
    ],
    [
        [7, 8, 9],
        [10, 11, 12]
    ]
]

print(cube)

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]

In [16]:
# Accessing elements with a 3D list

element = cube[0][1][2]
print(element)

6

# Tuples examples

In [17]:
myTuple = [1, 'Bob', 3.14]

print(myTuple[1])

Bob

# Tuple immutability

In [18]:
print(myTuple)

# Try changing the values in the Tuple

myTuple[1] = 'Fred'
print(myTuple)

[1, 'Bob', 3.14]
[1, 'Fred', 3.14]

In [19]:
# Workaround to change Tuple values

myList = list(myTuple)
myList[1] = 'Fred'
myTuple = tuple(myList)
print(myTuple)

(1, 'Fred', 3.14)

# Sets Examples

In [20]:
mySet = {1, 2, 3, 4}
print(mySet)

{1, 2, 3, 4}

In [21]:
mySet.add(5)
print(mySet)

{1, 2, 3, 4, 5}

In [22]:
mySet.remove(3)
print(mySet)

{1, 2, 4, 5}

# Unique values in sets

In [23]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

union = set1.union(set2)

print(union)

{1, 2, 3, 4, 5, 6}

In [24]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}
union = set1.union(set2)

print(union)

{1, 2, 3, 4, 5, 6}

In [25]:
# Intersection of two sets !!!!!

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

union = set1.intersection(set2)

print(union)

{1, 2, 3}

In [26]:
# Difference in two sets !!!!!!

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

union = set1.intersection(set2)

print(union)

{1, 2, 3}

In [27]:
# Traverse !!!!!

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

for item in set2:
    print(item)

1
2
3
4
5
6

In [28]:
# Only look for a specific element 

if 4 in set2:
    print("Found it!")
else:
    print("Did not find it!")

Found it!

# Dictionary

In [29]:
jeep = {!!!!!!
    "brand": "Jeep",
    "model": "Rubicon",
    "year": 2014,
    "year": 1976,
}

# This value would overwrite the previous KVP (Key Value Pair)

print(jeep)

SyntaxError: invalid syntax (1721780226.py, line 1)

# Config settings example

In [52]:
config = {
    'screen_resolution': (1920, 1080),
    'color_scheme': 'dark',
    'file_path': {
        'data_file': '/path/to/data.txt',
        'log_file': '/path/to/log.txt'
    }
}

#Acessing config items

print("Screen resolution:", config['screen_resolution'])

Screen resolution: (1920, 1080)

In [53]:
# Adding values to dictionary

config['color_scheme'] = 'light'

# Add a element

config['font_size'] = 16

print(config)

{'screen_resolution': (1920, 1080), 'color_scheme': 'light', 'file_path': {'data_file': '/path/to/data.txt', 'log_file': '/path/to/log.txt'}, 'font_size': 16}

In [55]:
# Remove elements from dictionary

del config['file_path']['data_file']
print(config)

{'screen_resolution': (1920, 1080), 'color_scheme': 'light', 'file_path': {'log_file': '/path/to/log.txt'}, 'font_size': 16}

# Search elements within a dictionary

In [56]:
# Loop thorugh the keys in our dictionary

for key in config:
    print(key)

screen_resolution
color_scheme
file_path
font_size

In [57]:
for value in config.values():
    print(value)

(1920, 1080)
light
{'log_file': '/path/to/log.txt'}
16

In [58]:
for key, value in config.items():
    print(f"{key}: {value}")

screen_resolution: (1920, 1080)
color_scheme: light
file_path: {'log_file': '/path/to/log.txt'}
font_size: 16

In [60]:
# Typical search through dictionary

if 'light' in config.values():
    print("Found it!")
else:
    print("Not found")

Found it!

# Creating a dictionary from other lists

In [62]:
keys = ['name', 'age', 'city']
value = ['John Doe', 30, 'New York']

# To combine lists into a dictionary
# dict is a Pythn function to create a dictionary
person = dict(zip(keys, value))

print(person)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

# Comprehension

In [63]:
cars = ['Jeep', 'F350', 'Ram']

for vehicle in cars:
    print(vehicle)

Jeep
F350
Ram

In [64]:
# Accomplish the same search with comprehension
[print(vehicle) for vehicles in cars]

Ram
Ram
Ram

[None, None, None]