In [1]:
import pandas as pd

# Import IMDB titles, ratings, names, and crew data

dfTitles = pd.read_csv('http://128.198.162.191/pydev/dataFiles/IMDB/titleBasics.tsv', sep='\t', low_memory = False)
dfRatings = pd.read_csv('http://128.198.162.191/pydev/dataFiles/IMDB/ratings.tsv', sep='\t', low_memory = False)
dfNames = pd.read_csv('http://128.198.162.191/pydev/dataFiles/IMDB/nameBasics.tsv', sep='\t', low_memory = False)
dfCrew = pd.read_csv('http://128.198.162.191/pydev/dataFiles/IMDB/crew.tsv', sep='\t', low_memory = False)

## Question 1 (Incorrect)

In [2]:
# Merge the crew and ratings data sets

dirRating = pd.merge(dfRatings, dfCrew)

# Concatenate "dfNames" data with original two data sets since there are no common column names

dirConcat = pd.concat([dirRating, dfNames], axis = 1)

# Match "nconst" value with "directors" value
# This command either also forces a match with the "writers" value or isn't matching the desired "nm....." values for a reason unknown to me
# I tried over a dozen methods: loc, sets, drop (to drop writers column), etc but I could not get past this error

nmMatch = (dirConcat.query('directors == nconst'))

# Print only the required columns

reqColumns = nmMatch[['primaryName', 'averageRating', 'numVotes']]

# Sort data by number of votes and average rating (in that order)

ratingSort = reqColumns.sort_values(by = ['numVotes', 'averageRating'], ascending = False)

# Sorts only the top result 

question1 = (ratingSort.head(1))

# Output is downloaded to a .csv file

question1.to_csv('datafiles/question1.csv', index = False)

# Prints dataFrame

question1

       primaryName  averageRating  numVotes
427  D.W. Griffith            4.8      51.0

### Question 1 (Corrected)

In [3]:
# Merge dfRatings and dfCrew

ratingsAndCrew = pd.merge(dfRatings, dfCrew, on = 'tconst')

# Rename director to 'nconst'

dfCrewRename = ratingsAndCrew.rename(columns = {'directors': 'nconst'})

# Merge dfNames with dfRatings and dfCrew

ratingsCrewDir = pd.merge(dfCrewRename, dfNames, on = 'nconst')

# Sort by average rating and number of votes

ratingsCrewDir.sort_values(by = ['averageRating', 'numVotes'], ascending = False)

# Output results

dir1 = (ratingsCrewDir.sort_values(by = ['averageRating', 'numVotes'], ascending = False))

dir2 = dir1[['primaryName', 'averageRating', 'numVotes']]

final = (dir2.head(1))

final

# Write results to a file

# final.to.csv('question1.csv', index = False)

         primaryName  averageRating  numVotes
645417  Rian Johnson           10.0    190975

## Question 2

In [4]:
# Merge the titles and ratings data sets

mvRating = pd.merge(dfRatings, dfTitles)

# Print only the required columns

reqColumns = mvRating[['startYear', 'primaryTitle', 'numVotes', 'averageRating']]

# Sort "startYear" column to show the year 2000

yearSort = (reqColumns.query('startYear == "2000"'))

# Sort data by number of votes and average rating (in that order)

ratingSort = yearSort.sort_values(by = ['numVotes', 'averageRating'], ascending = False)

# Sorts only the top result

question2 = (ratingSort.head(5))

# Output is downloaded to a .csv file
 
question2.to_csv('datafiles/question2.csv', index = False)

# Prints dataFrame

question2

       startYear         primaryTitle  numVotes  averageRating
116524      2000            Gladiator   1515747            8.5
134960      2000              Memento   1249899            8.4
134475      2000               Snatch    864845            8.2
120345      2000  Requiem for a Dream    851608            8.3
102120      2000      American Psycho    639139            7.6